{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}
{% block content %}
<main class="container-fluid" id="seats-content">
    <h1>{{ station_start_name }} - {{ station_end_name }}</h1>
    <h2>{{ depart_date_pretty }}, {{ time_dep_pretty }} - {{ time_arr_pretty }}</h2>
    <h3>Train {{ train_name }}</h3>
    <a href="../search?from={{ station_start_id }}&to={{ station_end_id }}&depart={{ depart_date }}" class="icon-link">
        <img src="{% static 'resources/back.png' %}" id="back-arrow">
        Select another train
    </a>
    
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <h4>
                        {{ carriage_type_name }}
                    </h4>
                </div>
                <div class="col-8 justify-content-end d-flex">
                    <h4>
                        ₴ {{ price|div:100|floatformat:2 }} / ticket
                    </h4>
                </div>
            </div>
            
            <div class="btn-group" role="group" id="radio-carriage">
            {% for carriage in carriages %}
            <input type="radio" class="btn-check radio-carriage" name="radio-carriage" id="carriage-{{ carriage.id }}" autocomplete="off" {% if forloop.counter == 1 %} checked {% endif %}>
            <label class="btn btn-outline-primary" for="carriage-{{ carriage.id }}">
                {{ carriage.id }} car
                <hr>
                {{ carriage.seats|length }} {% if carriage.seats|length == 1 %} seat {% else %} seats {% endif %}
            </label>
            {% endfor %}
            </div>
            <hr>
            <h5 class="card-title">Choose a seat</h5>
            {% for carriage in carriages %}
            <div class="btn-group carriage-seats carriage-{{ carriage.id }}" role="group" id="seats-{{ carriage.id }}" style="{% if forloop.counter != 1 %} display:none {% endif %}">
                {% for seat in carriage.seats %}
                <input type="checkbox" class="btn-check checkbox-seat" data-seat-id="{{ seat.id }}" data-seat-price="{{ price }}" data-bs-toggle="collapse" data-bs-target="#ticket-{{ carriage.id }}-{{ seat.id }}" name="carriage-{{ carriage.id }}" id="seat-{{ carriage.id }}-{{ seat.id }}" autocomplete="off">
                <label class="btn btn-outline-primary" for="seat-{{ carriage.id }}-{{ seat.id }}">{{ seat.num }}</label>
                {% endfor %}
            </div>
            {% endfor %}
            <hr class="collapse" id="hr-seat-ticket">
            {% for carriage in carriages %}
            {% for seat in carriage.seats %}
            <div class="row collapse g-0 ticket" id="ticket-{{ carriage.id }}-{{ seat.id }}">
            <div class="col">
                Train {{ train_name }}, Car {{ carriage.id }}, Seat {{ seat.num }}
            </div>
            <div class="col d-flex justify-content-end bold ticket-price">
                ₴ {{ price|div:100|floatformat:2 }}
            </div>
            </div>
            {% endfor %}
            {% endfor %}
            <hr class="collapse" id="hr-ticket-total">
            <div class="row collapse g-0 ticket" id="total-price-row">
            <div class="col d-flex justify-content-end bold" id="total-price">
                Total: ₴ 0
            </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <div class="spinner-border text-primary collapse" role="status" id="spinner-pay">
        </div>
        <button type="submit" class="btn btn-primary col-6 col-md-3 collapse" id="btn-pay" data-trip-id="{{ trip_id }}" data-station-start="{{ station_start_id }}" data-station-end="{{ station_end_id }}">Pay</button>
    </div>
    </div>
</main>
{% endblock %}