<h1>Ticket</h1>
<table>
    <tbody>
        <tr>
            <th>#</th>
            <td>{{ ticket.id }}</td>
            <td rowspan="9">
                <img src="data:image/png;base64, {{ ticket.qrcode }}" alt="">
            </td>
        </tr>
        <tr>
            <th>Train</th>
            <td>{{ ticket.train_name }}</td>
        </tr>
        <tr>
            <th>Carriage</th>
            <td>{{ ticket.carriage_num }}</td>
        </tr>
        <tr>
            <th>Seat</th>
            <td>{{ ticket.seat_num }}</td>
        </tr>
        <tr>
            <th>From</th>
            <td>{{ ticket.station_start_name }}</td>
        </tr>
        <tr>
            <th>To</th>
            <td>{{ ticket.station_end_name }}</td>
        </tr>
        <tr>
            <th>Depart</th>
            <td>{{ ticket.time_dep }}</td>
        </tr>
        <tr>
            <th>Arrive</th>
            <td>{{ ticket.time_arr }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ ticket.user_email }}</td>
        </tr>
    </tbody>
</tab>